
 <container>
        <row class="outer_row">
            <columns style="width: 10px;"></columns>
            <columns class="outer_col" valign="middle">
                <row class="inner_row">
                    <columns class="col_logo" small="1" large="1">
                        <img class="bed_dark" src="https://i.imgur.com/nEHL0fH.png" alt="logo_circle">
                    </columns>
                    <columns class="col_text" small="5" large="5" valign="middle">
                        <row>
                            <columns>
                                <p style="font-size: 12px; font-weight: 700;margin-left: 10px !important;">Download the app</p>
                            </columns>
                        </row>
                        <row>
                            <columns>
                                <p style="font-size: 10px; font-weight: 700; margin-left: 10px !important;">Cheap flights, hotels & more</p>
                            </columns>
                        </row>
                    </columns>
                    <columns class="col_logo_appstore" small="3" large="3" valign="middle">
                        <img style="width: 125px; height: 40px;" class="bed_dark" src="https://i.imgur.com/svqoidr.png" alt="appstore">
                    </columns>
                    <columns class="col_logo_googleplay" valign="middle">
                        <img style="width: 125px; height: 40px;" class="bed_dark" src="https://i.imgur.com/fc8QJ6v.png" alt="playstore">                        
                    </columns>
                </row>
            </columns>
            <columns style="width: 10px;"></columns>

        </row>
    </container>

    <container>
        <row style="background:#14191E; background-color:#14191E;height: 100px; border-bottom: 2px solid #334755"  class="header">
            <columns class="columns" valign="middle" small="6" large="6">
                <img class="kayak_logo" src="https://i.imgur.com/F51S1u8.png" alt="kayak_logo">
            </columns>
            
            <columns small="3" large="3"></columns>
            <columns class="columns" valign="middle" small="3" large="3">
            <a href="#"> <img style="display: inline-block;" class="user_logo " src="https://i.imgur.com/GuaCWwH.png" alt="facebook"></a>
            <a href="#"><img style="display: inline-block; margin-left: 2px !important; margin-right: 2px !important;" class="user_logo " src="https://i.imgur.com/n2zcVoI.png" alt="twitter"></a>
            <a href="#"><img style="display: inline-block;" class="user_logo " src="https://i.imgur.com/vQRDBxK.png" alt="instagram_logo"></a>
            
            </columns>
        </row>
    </container>

    <container>
            <row class="sub-header" style="background: #14191E; background-color: #14191E; border-bottom: 2px solid #334755;">
                    <columns style="width: 20000px;"></columns>
                    
                    <columns style="width: 90%;">
                      <row>
                        <columns class="columns">
                          <a href="#" class="text-center">
                            <img class="sub_logo" src="https://i.imgur.com/uLYPu0L.png" alt="airplane_logo">
                            Flights</a>
                        </columns>
                
                        <columns  class="show-for-large" style="width: 2%;"><span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755;;margin: 0; padding: 0;"></span></columns>
                
                
                        <columns class="columns">
                          <a href="#" class="text-center">
                            <img class="sub_logo" src="https://i.imgur.com/H4nCvXz.png" alt="hotel_logo">
                            Hotels</a>
                        </columns>
                
                        <columns class="show-for-large" style="width: 2%"><span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755;;margin: 0; padding: 0;"></span></columns>
                
                
                        <columns class="columns">
                          <a href="#" class="text-center">
                            <img class="sub_logo" src="https://i.imgur.com/38vjZDO.png" alt="car_logo">
                            Cars</a>      
                        </columns>
                
                        <columns class="show-for-large" style="width: 2%"><span style="display: block; height: 20px; width: 1px; background: #334755; background-color: #334755;margin: 0; padding: 0;"></span></columns>
                
                
                        <columns class="columns show-for-large">
                          <a href="#" class="text-center">
                            <img class="sub_logo" src="https://i.imgur.com/luQEc6r.png" alt="umbrella_logo">
                            Packages</a>      
                        </columns>
                      </row>
                    </columns>
                    
                    
                    <columns></columns>
                  </row>
       </container>


       <container>
            <row style="background: #14191E; background-color: #14191E; height: 50px;">
                <columns small="2" large="2"></columns>
                <columns small="8" large="8" valign="bottom">
                     <a class="footer_links" style="color: white;padding-right: 10px !important;" href="#">Unsubscribe</a>
              
                     <a class="footer_links" style="color: white;padding-right: 10px !important;" href="#" >Email Preferences</a>
             
                     <a class="footer_links" style="color: white;padding-right: 10px !important;" href="#">Feedback</a>
              
                     <a class="footer_links" style="color: white" href="#">Privacy Policy</a>
                 </columns>
                <columns small="2" large="2"></columns>
                
            </row>
        </container>


    <container>
        <row>
            <columns style="padding-left: 20px !important; padding-right: 20px !important; padding-top: 10px !important; padding-bottom: 30px !important; background: #14191E; background-color: #14191E;">
                <p style="color: grey; font-size: 10px;font-weight: 400;">
                        Prices, savings and availability may vary. Additional restrictions may apply. Savings are not ensured. KAYAK does not sell tickets but provides a price comparison service. The deals in this newsletter were current at the time this email was published and subject to change based on data, time and availability, which is extremely limited. KAYAK accepts no liability for inaccuracies arising from this or any other cause, including, but not limited to, expiration of deals and typograpical error, we are not responsible for any loss, damages, or injury incurred by the dealsherein. Unless otherwise specified, hotel prices are per night based on double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and fees. If in doubt, always consult the agent or company supplying the tickets. <br>
                        Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not baggage fees or other fees charged directly by the airline for the included flight. <br>
                        Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage or contact the provider for additional details.
                    </p>
            </columns>

            
        </row>
        <row>
            <columns style="padding-left: 20px !important; padding-right: 20px !important;padding-bottom: 40px !important; background: #14191E; background-color: #14191E;">
                <p style="color: lightgrey; font-size: 10px;font-weight: 400;" >	&copy; 2019 KAYAK Software Corporation</p>    
                <p style="color: lightgrey; font-size: 10px;font-weight: 400;">7 Market Street Stamford, CT 06902-5810 US</p>
            </columns>
         </row>

    </container>