<container>

        <row class="header">
          <columns class="columns" valign="middle" small="6" large="6">
            <img class="kayak_logo" src="https://i.imgur.com/L5IRuGB.png" alt="kayak_logo">
          </columns>
      
          <columns class="columns" valign="middle" small="6" large="6">
            <img class="user_logo float-right" src="https://i.imgur.com/FTdkmYz.png" alt="user_logo">
            
          </columns>
        </row>
      
        <row class="sub-header">
          <columns style="width: 20000px"></columns>
          
          <columns style="width: 90%;">
            <row>
              <columns class="columns">
                <a href="#" class="text-center">
                  <img class="sub_logo" src="https://i.imgur.com/uLYPu0L.png" alt="airplane_logo">
                  Flights</a>
              </columns>
      
              <columns  class="show-for-large" style="width: 2%;"><span style="display: block; height: 20px; width: 1px; background: #FF690f; background-color: #FF690f;margin: 0; padding: 0;"></span></columns>
      
      
              <columns class="columns">
                <a href="#" class="text-center">
                  <img class="sub_logo" src="https://i.imgur.com/H4nCvXz.png" alt="hotel_logo">
                  Hotels</a>
              </columns>
      
              <columns class="show-for-large" style="width: 2%"><span style="display: block; height: 20px; width: 1px; background: #FF690f; background-color: #FF690f;margin: 0; padding: 0;"></span></columns>
      
      
              <columns class="columns">
                <a href="#" class="text-center">
                  <img class="sub_logo" src="https://i.imgur.com/38vjZDO.png" alt="car_logo">
                  Cars</a>      
              </columns>
      
              <columns class="show-for-large" style="width: 2%"><span style="display: block; height: 20px; width: 1px; background: #FF690f; background-color: #FF690f;margin: 0; padding: 0;"></span></columns>
      
      
              <columns class="columns show-for-large">
                <a href="#" class="text-center">
                  <img class="sub_logo" src="https://i.imgur.com/luQEc6r.png" alt="umbrella_logo">
                  Packages</a>      
              </columns>
            </row>
          </columns>
          
          
          <columns></columns>
        </row>
      </container>